@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Oswald:wght@300&family=Poppins:wght@500&family=Unbounded&display=swap');
body{
    background-color: blanchedalmond;
    margin: -3px;
    color:rgb(2, 75, 2);
    width: 100vw;
    
}
.text{
    background: rgb(0,100,0);
    text-align: center;
    color: white;
    height: 30px;
    width: 100%;
    padding-top: 10px;
}

.header{
    height: 10vh;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-left: 1%;
    padding-right: 1%;
}
.logo{
    color: rgb(2, 78, 2);
    font-size: 34px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-right: 295px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
nav a{
    color:rgb(2, 75, 2);
    text-decoration: none;
    font-weight: bold;
    text-transform:uppercase;
    
}
.content{
    width: 65%;
    margin: auto;
    text-align: center;  
    display: block;
}
.main-text{
    text-align: center;
    max-width: 50rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    color:rgb(2, 75, 2);
}
h1{
    font-size: 35px;
}
#paragraph, .main-content p{
    font-size: 20px; 
    line-height: 22px;
    padding: 3px;
}
.products{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.products-column img{
    border-radius: 9999px;
    width: 270px;
    height: 100%;
    vertical-align: middle;
    object-fit: cover; 
    position: relative;
}

.products-column{
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-top: 25px;
    padding-bottom: 250px;
}
.products-column p{
    font-size: 15px;
}
.products-column button{
    margin-top: 10px;
    
}
button{
    border-radius: 9999px;
    color:rgb(2, 75, 2);
    width: 100%;
    background-color: blanchedalmond;
    font-weight: bold;
    height: 10%;
    cursor: pointer;
    
}
.main-content{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.fon{
    width: 280px;
    position: relative;
    
    top: 0;
    left: 0;
}
.drink{
    width: 10%;
    position: absolute;
    top: 315%;
    left:45%;
    bottom: 100px;
}


@media(max-width:700px){
    .products{
        flex-direction: column;
    }
}




