@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
body{
    margin: auto 0;
    white-space: nowrap;
    background-color: #fff6e0;
}

.header1{
    width: 100%;
    height: 25px;
    background-color: #01785b;
    color: #fff6e0;
    text-align: center;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;  
    position: fixed;
    z-index: 3; 
}

.header2{
    width: 100%;
    color:#01785b;
    margin-top: 2.59rem;
    padding: 1.7rem 2.4rem 20rem 2.4rem;
    position: fixed;
    z-index: 3;
    display: inline-flex;
    text-transform: uppercase;
    text-align: center;
    box-shadow: inset -30px 80px 30px 10px #fff6e0;
}

.pages{
    display: inline-flex;
}

.pages div{
    padding-right: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.pages div a{
    color: #01785b;
}

.log{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-left: 65%;
    cursor: pointer;
}

.log a{
    color: #01785b;
}

#avec{
    text-transform: uppercase;
    position: fixed;
    color:#fcbf10;
    font-size: 60px;
    font-weight: 700;
    margin-top: -1rem;
    cursor: pointer;
    margin-left: 45%;
}

#avec a{
    color: #01785b;
}

a{
   text-decoration: none; 
}   

.container1{
    text-align: center;
    white-space: normal;
    padding-top: 110px;
    color:#01785b;
    margin: 0 23%;
}

.container1 p{
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.container1 div{
    font-size: 21px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
}

.container2{
    color: #01785b;
    margin-top: 150px;
    white-space: normal;
    font-family: Arial, Helvetica, sans-serif;
}
  
.right{
    display: inline-flex;
}

.right img{
    width: 50%;
    max-height: 755px;
    object-fit: cover;
}

.right h1{
    font-weight: bold;
}

.right div{
    margin: 0 6%;
    padding-top: 13%;
    width: 38%;
    font-size: 22px;
    line-height: 1.5;
}

.left{
    display: inline-flex;
}

.left img{
    width: 50%;
    max-height: 755px;
    object-fit: cover;
}

.left h1{
    font-weight: bold;
}

.left div{
    margin: 0 6%;
    width: 38%;
    font-size: 22px;
    line-height: 1.5;
    padding-top: 13%;
}
    
@media (max-width: 1175px) {
    #avec{
        font-size: 40px;
        margin-left: 40%;
    }

    .log{
        font-size: 1rem;
        margin-left: 45%;
    }

    .pages div{
        font-size: 1rem;
    }
    }
    
     @media (max-width: 878px) {
            #avec{
            font-size: 30px;
            margin-left: 41%;
        }
    
        .log{
            font-size: 0.7rem;
            margin-left: 45%;
        }

        .pages div{
            font-size: 0.7rem;
        }

        .right div{
            padding-top: 7%;
            font-size: 15px;
        }

        .left div{
            padding-top: 7%;
            font-size: 15px;
        }

        .container1 p{
            font-size: 25px;
        }

        .container1 div{
            font-size: 18px;
        }
     }

     @media (max-width: 878px) {
        #avec{
            font-size: 30px;
            margin-left: 41%;
        }
    
        .log{
            font-size: 0.7rem;
            margin-left: 45%;
        }

        .pages div{
            font-size: 0.7rem;
        }
    }

@media (max-width: 690px) {
    #avec{
        font-size: 25px;
    }

    .log{
        font-size: 0.5rem;
        margin-left: 40%;
    }

    .pages div{
        font-size: 0.5rem;
    }
    
}

@media (max-width: 550px) {
    .pages div{
        padding-right: 0.4rem;
    }

    .right div{
        margin: 0 5%;
        width: 40%;
    }

    .left div{
        margin: 0 5%;
        width: 40%;
    }

    .container1{
        text-align: center;
        white-space: normal;
        padding-top: 110px;
        color:#01785b;
        margin: 0 10%;
    }
}

    @media (max-width: 422px) {
        #avec{
            font-size: 20px;
        }
    
        .log{
            font-size: 0.4rem;
            margin-left: 40%;
        }
        .pages{
            margin-left: -15px;
        }
    
        .pages div{
            font-size: 0.4rem;
        }

        .right div{
            padding-top: 6%;
            font-size: 12px;
        }

        .left div{
            padding-top: 6%;
            font-size: 12px;
        }
   
}
footer {
    background-color: #01785b;
    color: #fff6e0;
    padding: 2vw 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: none;
    white-space:normal;
}

footer a {
    text-decoration: none;
    color: #fff6e0;
}

footer>div {
    display: flex;
    justify-content: space-around;
}


footer>div>div:first-child {
    width: 45%;
}

footer h1 {
    font-size: 4vw;
    margin: 0;
}

footer p {
    margin: 0;
}

footer form {
    font-size: 6px;
}

footer input {
    background-color: #01785b;
    border-radius: 2em;
    height: 4em;
    border: 2px solid #fff6e0;
    outline: none;
    color: #fff6e0;
    width: 80%;
    margin: 1em;
    padding: 0 1.5em;
    font-size: 2.5em;
    font-weight: 700;
}

footer > div {
    font-size: 6px;
}

.footer--left {
    display: flex;
    font-size: 2.8em;
}

.footer--left>div {
    margin: 0 3em;
}

.footer--left a {
    display: block;
    margin: 1.5em 0;
}

.dev {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    width: 90%;
}

footer .submit {
    cursor: pointer;

}
footer .submit:hover {
    background-color:#fff6e0;
    color: #01785b;
}
@media screen and (max-width: 1425px) {
    footer form {
        font-size: 4px;
    }
    footer > div {
        font-size: 4px;
    }
    .dev {
        font-size: 1rem;
    }
  }
  @media screen and (max-width: 955px) {
    footer > div:first-child {
        flex-direction: column;
        align-items: center;
    }
    footer>div>div:first-child {
        width: 100%;
    }

    .footer--left {
        flex-wrap: wrap;
    }
  }
