body{
    --theme-primary: #FFF6E0;
    --theme-secondary: #01785B;
    
    line-height: 1.4;
    font-size: 1.6rem;
    margin:0;
    background-color: var(--theme-primary);
    

}

section{
    display: block;
}
.main-content{
    background-color: var(--theme-primary);
    color: var(--theme-secondary);
    width: 100vw;
    overflow: hidden;
    padding-right: 2rem;
    padding-bottom: -9rem;
    
}
.content{
    display: flex;
    flex-direction: column-reverse;
}
.content-text{
    width: 100%;
}
.inside-text{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 50rem;
    width: 100%;
    z-index: 2;
    position: relative;
}
.text{
    width: 100%;
}
.main-text{
    line-height: 1;
    font-size: 3rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: FS Lucas Bold,serif;
}
.rating{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.rating-text{
    display: block;
    border-radius: 9999px;
    font-family: FS Lucas Bold,serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
}


.center-text{
    margin-top: 1.5rem;
    font-size: 1.2rem;
}
.bottom-text{
    margin-top: 1.5rem;
    margin: 0;
}
.actions{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1.5rem;
}
.subscribe{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    text-align: left;
    font-size: 1.2rem;
    background: var(--theme-primary);
    border: 0px;
    font-size: 0.7rem;
    color: var(--theme-secondary);
}
.pointer{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    pointer-events: none;
    margin-right: 0.5rem;
    border: 1px solid #000;
    
}
.sub-text{
    pointer-events: none;
    display: flex;
    align-items: center;
}
.first{
    display: block;
    text-transform: uppercase;
}
.sec{
    margin-left: 0.5rem;
}
.first-button{
    position: relative;
    z-index: 2;
    margin-bottom: 1.5rem;
   width: 50%;
   color: #FFF6E0;
}
.select{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem 4rem;
    border-radius: 100rem;
    font-family: FS Lucas Bold,sans-serif;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    background: var(--theme-secondary);
    border: 2px solid var(--theme-secondary);
    color: var(--theme-secondary);
    font-style: var(--theme-primary);
    
}
.select span{
    color: #FFF6E0;
    font-weight: 900;
}


a{
    text-decoration: none;
}

.back-img{
    overflow: hidden;
    width: 100%;
    height: 100vw;
    right: 0rem;
    top: 0rem;
}
.main-img{
    width: 100%;
    height: 100%;
    
    max-width: 100%;
    
    object-fit: cover;
    display: block;
    
}

@media(min-width: 850px) {
    body{
        margin: auto;
    }
    .main-content{
        padding-bottom: -10rem;
        padding-top: -10rem;
    }
    .content{
        padding-top: 10rem;
        padding-left: 5rem;
        padding-right: 5rem;
        flex-direction: row;
    }
    .content-text{
        margin-top: -6rem;
        width: 45%;
    }
    .inside-text{
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .main-text{
        font-size: 4rem;
    }
    .actions{
        flex-wrap: nowrap;
    }
    
    
    .back-img{
         height: unset;
        position: absolute;
       
    }
    .main-img{
        transform: translateX(15vw);
    }
   
    
    
    .select{
        width: 100%;
        padding-left: -100rem;
    }
    
}